PORT=3002
HOST=0.0.0.0

MONGODB_URI=mongodb+srv://<username>:<password>@<cluster-host>/infinity-chat?retryWrites=true&w=majority
MONGODB_DB_NAME=infinity-chat

UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=

JWT_SECRET=replace_this_with_a_long_random_secret
